In [1]:
import numpy as np
x = np.random.random((5,5))
x

array([[0.71011026, 0.65440588, 0.0897003 , 0.69201774, 0.78105016],
       [0.59810665, 0.19139412, 0.54239534, 0.07333358, 0.06298097],
       [0.94139312, 0.54687347, 0.9105085 , 0.44992148, 0.16913482],
       [0.86726101, 0.49179171, 0.96278513, 0.2204082 , 0.72985607],
       [0.4181178 , 0.49467991, 0.63111731, 0.58126961, 0.13284737]])

In [2]:
np.save('2d_array',x)

In [3]:
loaded_array=np.load('2d_array.npy')
loaded_array

array([[0.71011026, 0.65440588, 0.0897003 , 0.69201774, 0.78105016],
       [0.59810665, 0.19139412, 0.54239534, 0.07333358, 0.06298097],
       [0.94139312, 0.54687347, 0.9105085 , 0.44992148, 0.16913482],
       [0.86726101, 0.49179171, 0.96278513, 0.2204082 , 0.72985607],
       [0.4181178 , 0.49467991, 0.63111731, 0.58126961, 0.13284737]])

## lab program 2, create a csv file

In [4]:
a = np.array("Hrithik,Sandeep,Shreyas,Yuva,Govind,Praveen,Thivakar,Varun,Midhun,Sagar".split(','))
b= list(np.array(('D2,'*10).split(',')))
mark1 =  np.random.randint(100,size=(10,))
mark2 =  np.random.randint(100,size=(10,))
mark3 =  np.random.randint(100,size=(10,))
b.pop()

''

In [5]:
mark1.shape

(10,)

In [6]:
data = np.array([[a],[b],[mark1],[mark2],[mark3]])
data

array([[['Hrithik', 'Sandeep', 'Shreyas', 'Yuva', 'Govind', 'Praveen',
         'Thivakar', 'Varun', 'Midhun', 'Sagar']],

       [['D2', 'D2', 'D2', 'D2', 'D2', 'D2', 'D2', 'D2', 'D2', 'D2']],

       [['60', '33', '84', '50', '43', '32', '95', '29', '90', '27']],

       [['18', '46', '74', '75', '24', '49', '89', '38', '64', '79']],

       [['43', '19', '65', '44', '67', '79', '91', '3', '85', '88']]],
      dtype='<U11')

In [7]:
data.shape

(5, 1, 10)

In [8]:
data_n = data.reshape(5,10)
data_n.T

array([['Hrithik', 'D2', '60', '18', '43'],
       ['Sandeep', 'D2', '33', '46', '19'],
       ['Shreyas', 'D2', '84', '74', '65'],
       ['Yuva', 'D2', '50', '75', '44'],
       ['Govind', 'D2', '43', '24', '67'],
       ['Praveen', 'D2', '32', '49', '79'],
       ['Thivakar', 'D2', '95', '89', '91'],
       ['Varun', 'D2', '29', '38', '3'],
       ['Midhun', 'D2', '90', '64', '85'],
       ['Sagar', 'D2', '27', '79', '88']], dtype='<U11')

In [9]:
csv_rows = ["{},{},{},{},{}".format(i, j, k,m,n) for i, j, k, m, n in data_n.T]
csv_text = "\n".join(csv_rows)

with open('sample.csv', 'w') as f:
    f.write(csv_text)
    f.close

## lab program 3, load the demo.csv file content into numpy array

In [10]:
with open('sample.csv','r') as f:
    txt  = f.readlines()

In [11]:
data = np.genfromtxt('sample.csv',delimiter=",",skip_header=True,dtype =str)
data

array([['Sandeep', 'D2', '33', '46', '19'],
       ['Shreyas', 'D2', '84', '74', '65'],
       ['Yuva', 'D2', '50', '75', '44'],
       ['Govind', 'D2', '43', '24', '67'],
       ['Praveen', 'D2', '32', '49', '79'],
       ['Thivakar', 'D2', '95', '89', '91'],
       ['Varun', 'D2', '29', '38', '3'],
       ['Midhun', 'D2', '90', '64', '85'],
       ['Sagar', 'D2', '27', '79', '88']], dtype='<U8')